@font-face {
    font-family: "Droid Serif";
    src: local("Droid Serif"), local("Droid-Serif-Regular"),local("Droid-Serif"),local("Droid Serif Regular"), url('fonts/DroidSerif.woff2') format("woff2"), 
    url('fonts/DroidSerif.woff') format("woff");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Droid Serif";
    src: local("Droid Serif Bold"), local("Droid-Serif-Bold"), url('fonts/DroidSerif-Bold.woff2') format("woff2"), 
    url('fonts/DroidSerif-Bold.woff') format("woff");
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "lato-black";
    src: local("lato-black"), local("lato black"), url('fonts/lato-black.woff2') format("woff2"), 
    url('fonts/lato-black.woff') format("woff");
    font-display: swap;
}

@font-face {
    font-family: "lato-thinitalic";
    src: local("lato-thinitalic"), local("lato thinitalic"), url('fonts/lato-thinitalic.woff2') format("woff2"), 
    url('fonts/lato-thinitalic.woff') format("woff");
    font-display: swap;
}

body {
    margin: 100px 80px;
    max-width: 1770px;
    text-align: left;
    font-family: "Droid Serif" , "lato-black", "lato-thinitalic";
}

h1 {
    font-size: 50px;
    line-height: 1.3;   
}

p { 
    font-family: "Arial";
    color: rgb(48, 48, 48);
    font-weight: bold;
    line-height: 1.5;
    font-size: 22px;
    margin: 50px 0;
}

figure {
    margin: 0;
}

.align {
    width: 1100px;
}

img{
    text-align: left;
}